# Data Mining
## Lab 01 - Pengenalan Python

* tipe data pada python
* conditional
* perulangan
* function

Nama: Muhammad Adji Maulana Putera

In [ ]:
print ("Hello world")

Hello world

## 1. Tipe dasar pada Python

In [ ]:
#integer
i = 4
type (i)

int

In [ ]:
f = 2.3
b = True
s = "Ini string"

In [ ]:
type (s)

str

## Tipe data advance

In [ ]:
#list
l = [3,5,2]
print (type(l))
print (l)

<class 'list'>
[3, 5, 2]

In [ ]:
list2 = ["saya",3, 2.5]
print(list2)

['saya', 3, 2.5]

In [ ]:
#dictionary
d = {'fatma':2, 'dwi':4.5, 'irwan':'tidak ada'}
print (d)

{'fatma': 2, 'dwi': 4.5, 'irwan': 'tidak ada'}

In [ ]:
print (d['fatma'])
print (d['irwan'])

2
tidak ada

## 3. Conditional

In [ ]:
if (i < 1):
   print ("i kurang dari 1")
elif ((i>=1) and (i<=4)):
   print ("i antara 1 dan 4")
else:
   print ("i lebih dari 4")

i antara 1 dan 4

## 4. Perulangan

In [ ]:
print (l)

[3, 5, 2]

In [ ]:
for elemen in l:
  print (elemen)

3
5
2

In [ ]:
counter = 4
while (counter < 10):
  print (counter)
  counter += 1

4
5
6
7
8
9

## 5. Membuat function

In [ ]:
def kaliDua(x):
  return x*2

i = 4
print(kaliDua(i))

8

In [ ]:
#fungsi untuk menghitung luas lingkaran
def luasLingkaran(r):
  return 3.14*r*r

print (luasLingkaran(5))

78.5

## Latihan

Bagian I. Cari/buatlah contoh

a) Macam-macam operasi string pada python (minimal 10)

b) Macam-macam operasi list pada python (minimal 10)

c) Macam-macam operasi dictionary pada python

Bagian II. Implementasikan fungsi similaritas berikut ini (variabel input adalah 2 buah vektor berbentuk list):

a) Euclidean Distance

b) Manhattan Distance

c) Jaccard Coefficient

d) Cosine Similarity

Berilah catatan cara penggunaan fungsi serta contoh penggunaan tiap fungsi.